# Handling lists

In [27]:
l = [23,5,67,12,45,56,1,5,9,19]
li = [22,3,5,7,12,78,33,56,30,9]

print(l[:5])

print(li[5:10])
print(l[-5:])
l.append(12)
print(l)
l.append([66,67,68])
l.extend([23,56,89])
# list comprehension
l2 = [(i*2) for i in l]
l2

[23, 5, 67, 12, 45]
[78, 33, 56, 30, 9]
[56, 1, 5, 9, 19]
[23, 5, 67, 12, 45, 56, 1, 5, 9, 19, 12]

[46,
 10,
 134,
 24,
 90,
 112,
 2,
 10,
 18,
 38,
 24,
 [66, 67, 68, 66, 67, 68],
 46,
 112,
 178]

In [31]:
t = (23,5,67,12,45,56,1,5,9,19)
t1= (22,3,5,7,12,78,33,56,30,9)
print(t[:5])
print(t1[5:10])
print(t[-5:])
 

t2 = [i**3 for i in t]
t2

(23, 5, 67, 12, 45)
(78, 33, 56, 30, 9)
(56, 1, 5, 9, 19)

[12167, 125, 300763, 1728, 91125, 175616, 1, 125, 729, 6859]

In [39]:
d = {'id':1,'name':'Meenu', 'gender' :'female'},{ 'id':2,'name':'Seema','gender':'female'}
d

({'id': 1, 'name': 'Meenu', 'gender': 'female'},
 {'id': 2, 'name': 'Seema', 'gender': 'female'})

In [42]:
d[0]["name"]

'Meenu'

In [43]:
d = [{'id':1,'name':'Meenu', 'gender' :'female'},{ 'id':2,'name':'Seema','gender':'female'}]
d

[{'id': 1, 'name': 'Meenu', 'gender': 'female'},
 {'id': 2, 'name': 'Seema', 'gender': 'female'}]

In [44]:
d[1]["name"]

'Seema'

In [78]:
l4 = [21,4,6,87,45]
l3 = [(i**3) for i in l4]

l3
l4.append([2,6,8])

l5 = [(i**3) for i in l4[:5]]

l5
l6 = [(i**3) for i in l4 and l4[:5]]
l6
l5
l7 = l5 + l6
l7
l4
print(l7)
print(l4)

[9261, 64, 216, 658503, 91125, 9261, 64, 216, 658503, 91125]
[21, 4, 6, 87, 45, [2, 6, 8]]

In [83]:
n = 0
for i in l7:
    n = n+i
print(n)
sum(l7)

1518338

1518338

In [88]:
m = 0
a = len(l7)
for i in l7:
    
    m = (m+i)
print(m/a)

151833.8

In [96]:
m = 0
count = 0

    
for i in l7:
    count = count+1
    m = (m+i)
print(m/count)
print(count)
print(m)

151833.8
10
1518338

In [97]:
l7

[9261, 64, 216, 658503, 91125, 9261, 64, 216, 658503, 91125]

In [111]:
max = l7[0]
for i in l7[1:]:
    if max> i:
        max = i
print(max)

64

In [110]:
print (l7)
max = l7[0]
for i in l7[1:]:
    print("i =: " +str(i))
    print("max="+str(max))
    if max < i:
        max = i
    
print(max)

[9261, 64, 216, 658503, 91125, 9261, 64, 216, 658503, 91125]
i =: 64
max=9261
i =: 216
max=64
i =: 658503
max=64
i =: 91125
max=64
i =: 9261
max=64
i =: 64
max=64
i =: 216
max=64
i =: 658503
max=64
i =: 91125
max=64
64

In [112]:
#searching
l7

[9261, 64, 216, 658503, 91125, 9261, 64, 216, 658503, 91125]

In [121]:
number = 9261
count = 0
for i in l7:
    count += 1
    #print("i ", i)
    #print("c", count)
    if number == i:
        
        print(i)
        print(count)

9261
1
9261
6

In [126]:
number = 9261
count = 0
a = []
d = {}
for i in l7:
    count += 1
    #print("i ", i)
    #print("c", count)
    if number == i:
        a.append(count)
        print(i)
        print(count)
print(a)
d = {number:a}
print(d)

#output{9261:[1,6]}

9261
1
9261
6
[1, 6]
{9261: [1, 6]}

In [137]:
#print(l7)
d = {}
for number in l7:

    count = 0
    a = []
   

    for i in l7:

        count += 1
        
        if number == i:
            a.append(count)
            #print(i)
            #print(count)
    #print(a)
    #d = d.update({number:a})
    d[number]= a
print(d)

#output{9261:[1,6]}

{9261: [1, 6], 64: [2, 7], 216: [3, 8], 658503: [4, 9], 91125: [5, 10]}

In [7]:
#Tuples
(age,name,prims) = (23,"Meenu",[1,23,45])
print(age)
print(name)
#list
l = [12,34,6,65,67]

l[4]

#dictionaries

d = {"id":1,"name":"meenu","score":45}
d.keys()

23
Meenu

dict_keys(['id', 'name', 'score'])

In [19]:
d = {}
for l in "abcdefghi":
    d[l] = l
d.keys()
d.values()

dict_values(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i'])

In [10]:
for k in sorted(d.keys()):
    print(k, d[k])

a a
b b
c c
d d
e e
f f
g g
h h
i i

In [20]:
d = {}
d[0] = 7
d

{0: 7}

In [27]:
#passing value to function
def power(x,n):
#     return x**n
# power(2,3)
    ans = 1
    for i in range(0,n):
        ans = ans * x
    return ans
#power(x = 4, n = 4)
power(4,5)

1024

In [21]:
# def sroot(n):
#     return round(n ** 0.5)

# # n = int(input("enter the number"))
# # print(sroot(n))
# sroot(25)

#prime number

def is_prime(n):
    if n <= 1:
        return False
    for i in range(2,int(n**.5)+1):
        if n % i == 0:
            return False
        
    return True
        
   
    
print(is_prime(39))

False

In [33]:
def s(x):
    return(x*x)
def even(x):
    return(x%2==0)
def odd(x):
    return(x%2!=0)
def prime(x):
    if x<2:
        return False
    for i in range(2,int(x**0.5)+1):
        if x%i==0:
            return False
    return True
    
s(8)
#even(63)

64

In [30]:
[s(x)for x in range(50) if odd(x)]

[1,
 9,
 25,
 49,
 81,
 121,
 169,
 225,
 289,
 361,
 441,
 529,
 625,
 729,
 841,
 961,
 1089,
 1225,
 1369,
 1521,
 1681,
 1849,
 2025,
 2209,
 2401]

In [34]:
[s(x)for x in range(50)if prime(x)]

[4, 9, 25, 49, 121, 169, 289, 361, 529, 841, 961, 1369, 1681, 1849, 2209]

In [37]:
[s(x)for x in range(20)if even(x)]

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

In [43]:
def y(m):
    for x in range(m):
        print(x)
y(10)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [59]:

[(x, y, z) for x in range(1,100)
               for y in range( x,100)   
               for z in range(x,100)   
               if x * x + y * y == z * z]

[(3, 4, 5),
 (5, 12, 13),
 (6, 8, 10),
 (7, 24, 25),
 (8, 15, 17),
 (9, 12, 15),
 (9, 40, 41),
 (10, 24, 26),
 (11, 60, 61),
 (12, 16, 20),
 (12, 35, 37),
 (13, 84, 85),
 (14, 48, 50),
 (15, 20, 25),
 (15, 36, 39),
 (16, 30, 34),
 (16, 63, 65),
 (18, 24, 30),
 (18, 80, 82),
 (20, 21, 29),
 (20, 48, 52),
 (21, 28, 35),
 (21, 72, 75),
 (24, 32, 40),
 (24, 45, 51),
 (24, 70, 74),
 (25, 60, 65),
 (27, 36, 45),
 (28, 45, 53),
 (30, 40, 50),
 (30, 72, 78),
 (32, 60, 68),
 (33, 44, 55),
 (33, 56, 65),
 (35, 84, 91),
 (36, 48, 60),
 (36, 77, 85),
 (39, 52, 65),
 (39, 80, 89),
 (40, 42, 58),
 (40, 75, 85),
 (42, 56, 70),
 (45, 60, 75),
 (48, 55, 73),
 (48, 64, 80),
 (51, 68, 85),
 (54, 72, 90),
 (57, 76, 95),
 (60, 63, 87),
 (65, 72, 97)]

In [60]:


def h(x):
    (d,n) = (1,0)
    while d <= x:
        (d,n) = (d*3,n+1)
    return(n)
h(27993)

10

In [62]:
def g(n): 
    s=0
    for i in range(2,n):
        if n%i == 0:
            s = s+1
    return(s)
g(60)-g(48)

2

In [91]:
def f(n):
    g = 0

    for i in range(1,n+1):
        if n//i==i and n%i==0:
            g += 1
    return (g%2==1)

f(89)

False

In [74]:
def sroot(n):
    return round(n ** 0.5)

In [92]:
sroot(56)

7

In [93]:
def fact(n):
    if n == 0:
        return 1
    else:
        return n * fact(n-1)
fact(5)

120

In [3]:
def fib(n):
    if n==1 or n==0:
        value = n
    else:
        value= fib(n-1) + fib(n-2)
    return(value)
    
fib(5)

5

In [ ]:
    10
   /  \
  5   20
 / \   /
3   7 15

Tree Traversal

In [5]:
#inorder
class Node:
    def __init__(self, key):
        self.data = key
        self.left = None
        self.right = None

# Function to do inorder traversal
def inorder(root):
    if root:
        # Traverse the left subtree
        inorder(root.left)
        
        # Visit the root (current node)
        print(root.data, end=" ")
        
        # Traverse the right subtree
        inorder(root.right)

# Constructing the binary tree
root = Node(10)      # Root node
root.left = Node(5)  # Left child of root
root.right = Node(20)  # Right child of root

root.left.left = Node(3)  # Left child of 5
root.left.right = Node(7) # Right child of 5
root.right.left = Node(15) # Left child of 20

# Perform inorder traversal
inorder(root)

3 5 7 10 15 20

Linked List

In [1]:
class Node:
    def __init__(self, data):
        self.data = data  
        self.next = None  

class LinkedList:
    def __init__(self):
        self.head = None 

    # Insert a new node at the end of the linked list
    def insert(self, data):
        new_node = Node(data)  
        if self.head is None:  
            self.head = new_node
        else:
            last_node = self.head
            # Traverse to the end of the list
            while last_node.next:
                last_node = last_node.next
            last_node.next = new_node 

    # Delete a node by its value
    def delete(self, key):
        temp = self.head

        
        if temp is not None:
            if temp.data == key:
                self.head = temp.next
                temp = None
                return

        # Search for the key to be deleted, keep track of the previous node
        prev = None
        while temp is not None:
            if temp.data == key:
                break
            prev = temp
            temp = temp.next

        # If the key is not present in the linked list
        if temp is None:
            print(f"Node with data {key} not found.")
            return

        
        prev.next = temp.next
        temp = None

    
    def display(self):
        current_node = self.head
        while current_node:
            print(current_node.data, end=" -> ")
            current_node = current_node.next
        print("None")  


if __name__ == "__main__":
    llist = LinkedList()

    # Insert elements
    llist.insert(10)
    llist.insert(20)
    llist.insert(30)
    llist.insert(40)

    # Display the linked list
    print("Linked list after insertion:")
    llist.display()

    # Delete a node
    llist.delete(20)
    print("\nLinked list after deletion of node with data 20:")
    llist.display()

Linked list after insertion:
10 -> 20 -> 30 -> 40 -> None

Linked list after deletion of node with data 20:
10 -> 30 -> 40 -> None